<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Solver for Advent Of Code 2020 challenges">
    <meta name="author" content="Fredrik Eglese">
    
    <title>AoC 2020 Solver</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style/main.css">

</head>

<body>
    
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
              <a href="{% url 'AoC:index' %}" class="navbar-brand d-flex align-items-center">
                <strong>Advent of Code 2019 Solver</strong>
              </a>
            </div>
          </div>
    </header>

    <!-- Content Goes here -->
    <main role="main">
        <div class="bg-light">
            {% block body %}

            {% endblock %}
        </div >
    </main>

    <footer class="text-muted">
        <div class="container pt-3">           
            <p>This code is work in progress and is just an example of my use of Python3, Django, <a href="https://getbootstrap.com/">Bootstrap</a> and general webdev / programming skills. For more code examples please visit my <a href="https://www.github.com/FredrikEglese">GitHub Page</a>.</p>
        </div>
    </footer>

</body>
</html>
