{% extends 'AoC/base.html' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Automatic solutions for AoC</h1>
            <p class="lead text-muted">Solutions to some of the AoC challenges for 2020. Written by <a href="https://www.github.com/FredrikEglese">Fredrik Eglese</a>.</p>  
        </div>
    </section>

    <section>
        {% if solution_files_list %}

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">

                    {% for avaliable_solution in solution_files_list %}

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <p class="card-text"> Day {{ avaliable_solution.0 }}, Part {{ avaliable_solution.2 }} </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{% url 'AoC:solve' avaliable_solution%}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Solver</button>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                    </div>
                </div>
            </div>
                
        {% else %}
        
            <div class="container pb-2">
                <h4 class="text-center">No solvers avaliable. Please check that Python files are in the correct directory.</h4>
            </div>
        
        {% endif %}
    
    </section>

{% endblock %}

