{% extends 'AoC/base.html' %}

{% block body %}

    <div class="container pb-2">

        <section class="text-center pt-3">
            <h1>Solution for: {{question_title}}</h1>
        </section>

        <div class="container">
            <form action="{% url 'AoC:result' question_id %}" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="userInput">Task Input (As provided from AoC website):</label>
                    <textarea class="form-control" name="task_input" rows="10"></textarea>
                </div>

                <div>
                    <input type="submit" value="Solve" class="btn btn-block btn-primary mb-2" />
                </div>
            </form> 
        </div>
        
    </div>
    
{% endblock %}
